<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace必须和mapper.java同名 -->
<mapper namespace="ssm.dao.UserMapper">



    <resultMap id="detailUserMap" type="User">
        <id column="id" property="id" />
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="coin" property="coin"/>
        <result column="like" property="like"/>
        <result column="roomid" property="roomid"/>
    </resultMap>
    <resultMap id="basicUserMap" type="User">
        <id column="id" property="id" />
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
    </resultMap>
    <select id="signin" parameterType="java.lang.String" resultMap="detailUserMap">
        SELECT * FROM `user` WHERE username = #{username} AND password = #{password}
    </select>

    <select id="checkName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM `user` WHERE username=#{username}
	</select>

    <insert id="signup" parameterType="User">
        <!-- 获取刚才注册时的主键 -->
        <!--LAST_INSERT_ID() :得到刚insert进去的记录的主键值, 只适用于==自增主键==
            keyProperty : 将查询到的主键值设置到pojo的哪个属性
            order : 相对于insert语句的执行时间
            resultType : 该函数执行后返回的类型
         -->
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO `user` (username,nickname,password) VALUES (#{username},#{nickname},#{password})
    </insert>

    <select id="findUserById" parameterType="java.lang.Integer" resultMap="detailUserMap">
		SELECT * FROM `user` WHERE id=#{id}
	</select>



    <select id="findSimpleUserById" parameterType="java.lang.Integer" resultMap="basicUserMap">
		SELECT * FROM `user` WHERE id=#{id}
	</select>

    <update id="updateUserInfo" parameterType="User">
        <!--may update username and avatar-->
        UPDATE `user`
        SET nickname = #{nickname}
        <if test="avatar!=null and avatar!=''">, avatar = #{avatar}</if>
        WHERE id = #{id}
    </update>

    <update id="registerAnchor" parameterType="Room">
        UPDATE `user` SET roomid = #{id} WHERE id = #{anchorid}
    </update>


    <!--<select id="findSimpleUserListById" parameterType="java.util.List" resultMap="basicUserMap">-->
        <!--SELECT * FROM `user` WHERE id IN-->
        <!--<foreach item="id" collection="list" open="(" close=")" separator=",">#{id}</foreach>-->
    <!--</select>-->


</mapper>
